.bodyWrapper {
    margin-left: 2%;
    display: flex;
    flex-direction: row;
}

.textWrapper {
    margin: 60px 5% 100px 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.redLink {
    display: inline-block;
}

h1 {
    margin: 0;
    margin-bottom: -0.4em;
}

h2 {
    margin: 0;
    margin-bottom: -0.4em;
}

.box {
    height: 14px;
    width: 12px;
    background-color: var(--blue);
    line-height: 18px;
}

.boxLine {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.toc {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.toc h2 {
    font-size: 20px;
}

.toc p {
    font-size: 12px;
}

.textWrapper p {
    font-size: inherit;
    line-height: 1.6;
}

.textWrapper a {
    padding-bottom: 1px;
}

.textWrapper br {
    margin-top: 12px;
}

.textWrapper ul {
    list-style-type: square;
    color: var(--white);
}

.textWrapper ul p {
    margin-left: 8px;
    color: var(--white);
}

.textWrapper .yellowUnderline {
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
    padding-bottom: 0px;
}

.code {
    width: 80%;
    border: 1px solid var(--purple);
    background-color: var(--purple-transparent-light);
    border-radius: 1px;
    display: block;
    line-height: 2;
    padding: 12px 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    position: relative;
}

.copy {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    color: var(--grey);
    transition: ease-in 0.1s;
}

.copy:hover {
    color: var(--white);
}

.textWrapper li { 
    margin-bottom: 12px;
}

.textWrapper .resources {
    margin-top: -2em;
}