/* default styles across site */

@font-face {
    font-family: "SpaceMono";
    src: local("SpaceMono"),
     url("../fonts/SpaceMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HYShortSamul";
    src: local("HYShortSamul"),
     url("../fonts/HYShortSamul-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: #F5F5F5;
    --blue: #A0FFE3;
    --red: #FF2A6D;
    --yellow: #E0FF4F;
    --purple: #F887FF;
    --grey: rgba(245, 245, 245, 0.50);
    --purple-transparent-light: rgba(248, 135, 255, 0.13);
    --purple-transparent: rgba(248, 135, 255, 0.39);
    --yellow-transparent-light: rgba(224, 255, 79, 0.07);
    --yellow-transparent: rgba(224, 255, 79, 0.17);
    --blue-transparent: rgba(160, 255, 227, 0.13);
    --red-transparent: rgba(255, 42, 109, 0.19);
}


body {
    background-color: #222035;
}

.bodyWrapper {
    margin: 60px 5% 100px 5%;
}

h1 {
    color: var(--white);
    font-family: "HYShortSamul";
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 3.24px;
}

h2 {
    color: var(--white);
    font-family: "HYShortSamul";
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 3.24px;
}

p {
    color: var(--white);
    font-family: "SpaceMono";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1.6px;
    margin: 0;
}

/* links */
a {
    text-decoration: none;
    color: unset;
}

svg {
    font-size: inherit !important;
    transform: translateY(2px);
}

/* text decoration */
.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.grey {
    color: var(--grey);
}

.yellowUnderline {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
    padding-bottom: 2px;
}

@media (max-width: 500px) {
    .bodyWrapper {
        margin-right: 7%;
        margin-left: 3%;
    }
}
