.topHalf {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.box {
    height: 14px;
    width: 12px;
    background-color: var(--blue);
    line-height: 18px;
}

.boxLine {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.section span {
    cursor: pointer;
    display: inline-block;
}

.rightCol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cornerBorders {
    margin-top: 60px;
    margin-bottom: 12px;
    position: relative;

    background:
        linear-gradient(to right, var(--purple) 1px, transparent 1px) 0 0,
        linear-gradient(to left, var(--purple) 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, var(--purple) 1px, transparent 1px) 0 0,
        linear-gradient(to top, var(--purple) 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 12% 12%;
}

.cornerBorders video {
    border: 1px solid var(--purple);
    outline: 2px solid var(--purple-transparent);
    max-width: 20rem;
    margin: 5px;
    margin-bottom: 2px;
    mix-blend-mode: color-dodge;
}

.crossHorizontal {
    position: absolute;
    height: 1px;
    width: 12%;
    left: 44%;
    top: 50%;
    background-color: var(--purple-transparent);
}

.crossVertical {
    position: absolute;
    height: 12%;
    width: 1px;
    left: 50%;
    top: 44%;
    background-color: var(--purple-transparent);
}


/* sections */

.sectionSmall {
    display: none;
}

.diagonal {
    height: 0;
    width: 200px;
    transform: rotate(35deg);
    transform-origin: right;
    border-bottom: 1px solid var(--purple);
    align-self: center;
    margin-bottom: 200px;
}

.diagonalDown {
    height: 0;
    width: 300px;
    transform: rotate(-35deg);
    transform-origin: right;
    border-bottom: 1px solid var(--purple);
    align-self: center;
    margin-bottom: 200px;
}

.horizontal {
    height: 0;
    width: 60%;
    border-bottom: 1px solid var(--purple);
    align-self: center;
    margin-bottom: 200px;
}

.sectionWrapper {
    position: absolute;
    top: 68%;
    left: 30%;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.outline {
    padding: 2px;
    border: 1px solid var(--purple-transparent);
    display: flex;
}

.sectionContent {
    padding: 48px 48px 32px 48px;
    border: 1px solid var(--purple);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.buttonWrapperWrapper {
    max-width: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttonWrapper {
    max-width: fit-content;
    align-self: center;
}

.vertical {
    position: absolute;
    border-left: 1px solid #A0FFE3;
    width: 0px;
    top: 0px;
    min-height: 100%;
}

.framing {
    position: absolute;
    background-color: #A0FFE3;
    width: 0.5em;
    height: 16em;
}

ul {
    list-style-type: square;
    color: var(--purple);
}

ul p {
    margin-left: 8px;
    color: var(--white);
}


/* application */

.applyOutline {
    padding: 2px;
    border: 1px solid var(--yellow-transparent);
}

.apply {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border: 1px solid var(--yellow);
    background-color: var(--yellow-transparent-light);
}

.apply h1 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.apply ul {
    color: var(--yellow);
}

.applyButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0;
}


/* SCREEN SIZES */

@media (max-width: 1280px) {
    .topHalf {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }

    .rightCol {
        width: fit-content;
        justify-content: center;
        align-items: center;
    }

    .buttonWrapperWrapper {
        flex-direction: row;
    }

    .sectionSmall {
        display: flex;
        margin-top: 12px;
    }

    .diagonal {
        display: none;
    }

    .diagonalDown {
        display: none;
    }

    .horizontal {
        display: none;
    }

    .sectionWrapper {
        display: none;
    }

    .cornerBorders {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .apply {
        padding: 2em;
    }

    .sectionContent {
        padding: 2em;
        gap: 24px;
    }
}

@media (max-width: 600px) {
    .rightCol {
        gap: 0;
    }

    .buttonWrapperWrapper {
        flex-direction: column;
        gap: 8px;
    }

    .cornerBorders video {
        max-width: 15rem;
    }

    .applyButtons {
        flex-direction: column;
        gap: 4px;
        align-items: center;
    }
}
