.rectangle {
    position: absolute;
    bottom: 1rem;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    border: 1px solid #A0FFE3;
}

.horizontal {
    position: absolute;
    border-top: 1px solid #A0FFE3;
    height: 0px;
    left: 0px;
    right: 0px;
}

.vertical {
    position: absolute;
    border-left: 1px solid #A0FFE3;
    width: 0px;
    top: 0px;
    bottom: 0px;
}

.framing {
    position: absolute;
    background-color: #A0FFE3;
    width: 0.5em;
    height: 12em;
}

.framingHorizontal {
    position: absolute;
    background-color: #A0FFE3;
    width: 4em;
    height: 1.3em;
}

.barcodeWrapper {
    position: absolute;
    display: flex;
    gap: 0.4em;
    bottom: 1.5rem;
    right: 7rem;
}

.barcode {
    height: 2rem;
    width: 0.4rem;
    background-color: #A0FFE3;
}

.slashes {
    position: absolute;
    font-family: "HYShortSamul";
    font-size: 5rem;
    letter-spacing: 0.115em;
    color: #A0FFE3;
    opacity: 23%;
}

.pluses {
    position: absolute;
    left: 5rem;
    top: 2.5rem;
    font-family: "SpaceMono";
    font-size: 5rem;
    letter-spacing: 0.09em;
    color: #A0FFE3;
    opacity: 23%;
}

.squares {
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    background-color: #A0FFE3;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.mainWrapper span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 7rem;
    width: 7rem;
    filter: drop-shadow(-8px -4px #A0FFE3) drop-shadow(8px 4px #FF2A6D) 
}

.mainWrapper h1 {
    margin-top: 8px;
    text-shadow: 2px 1px #FF2A6D, -2px -1px #A0FFE3;
}

.tag {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    z-index: 999;
}

.triangle img {
    position: absolute;
    top: -38%;
    left: 20%;
    animation: rotation infinite 6s linear;
    transform-origin: 44% 40%;
}

#triangleRed img {
    top: -37%;
    left: 21%;
}

@keyframes rotation{
    from{
      transform:rotate(0deg);
    }
  
    to{
      transform:rotate(360deg);
    }
  }

  @media (max-width: 900px) {
    .tag {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    .mainWrapper h1 {
        text-align: center;
    }
  }