@font-face {
    font-family: "HYShortSamul";
    src: local("HYShortSamul"),
     url("../fonts/HYShortSamul-Medium.ttf") format("truetype");
    font-weight: normal;
}

.navBar {
    margin: 40px -1em 0 -1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 5%;
    background-color: rgba(160, 255, 227, 0.13);
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    position: relative;
}

.navBarSmallWrapper {
    display: none;
}

.navBarDecal {
    margin: 40px -1em 0 -1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 5%;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    position: relative;
}

.logo {
    position: absolute;
    left: calc(5% + 1em);
    top: 12%;
    height: 5.5em;
    width: 5.5em;
}

.item {
    color: var(--blue);
    font-family: "HYShortSamul";
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1.8px;
    padding: 4px 1.5em 0 1.5em;
    border: 1px solid transparent;
    transition: linear 0.1s;
}

.item:hover {
    background:
        linear-gradient(to right, var(--white) 1px, transparent 1px) 0 0,
        linear-gradient(to right, var(--white) 1px, transparent 1px) 0 100%,
        linear-gradient(to left, var(--white) 1px, transparent 1px) 100% 0,
        linear-gradient(to left, var(--white) 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, var(--white) 1px, transparent 1px) 0 0,
        linear-gradient(to bottom, var(--white) 1px, transparent 1px) 100% 0,
        linear-gradient(to top, var(--white) 1px, transparent 1px) 0 100%,
        linear-gradient(to top, var(--white) 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 8px 8px;
}

.active {
    color: var(--blue);
    font-family: "HYShortSamul";
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1.8px;
    padding: 4px 1.5em 0 1.5em;
    border: 1px solid transparent;

    background:
        linear-gradient(to right, var(--white) 1px, transparent 1px) 0 0,
        linear-gradient(to right, var(--white) 1px, transparent 1px) 0 100%,
        linear-gradient(to left, var(--white) 1px, transparent 1px) 100% 0,
        linear-gradient(to left, var(--white) 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, var(--white) 1px, transparent 1px) 0 0,
        linear-gradient(to bottom, var(--white) 1px, transparent 1px) 100% 0,
        linear-gradient(to top, var(--white) 1px, transparent 1px) 0 100%,
        linear-gradient(to top, var(--white) 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 8px 8px;
}


/* decal nav */

.decal .navBar {
    margin: -6.5em 0 0 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10em 2em 0;
    border: none;
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    gap: 1em;
    height: 100%;
    width: 16em;
}

.decal .active {
    padding: 6px 0.6em 0 0.6em;
    width: fit-content;
}

.decal .group .active {
    padding-left: 1.8em;
}

.decal .item {
    padding: 6px 0.6em 0 0.6em;
    width: fit-content;
}

.decal .title {
    display: flex;
    justify-content: flex-end;
}

.decal .arrow {
    color: var(--blue);
    font-family: "HYShortSamul";
    font-weight: light;
    font-size: 20px;
    margin-top: 8px;
}

.decal .arrowOpen {
    color: var(--blue);
    font-family: "HYShortSamul";
    font-weight: light;
    font-size: 20px;
    margin-top: 0px;
    transform: rotate(90deg);
    margin-right: -0.8em;
}

.decal .group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.decal .subLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-right: 2px solid var(--blue);
    margin-top: 8px;
    margin-right: 1em;
}

.decal .subLinks .item {
    font-size: 20px;
    color: var(--grey);
    text-align: right;
}

.decal .subLinks .item:hover {
    color: var(--white);
    background: none;
}

.decal .subLinks .active {
    font-size: 20px;
    color: var(--white);
    text-align: right;
    background: none;
}

@media (max-width: 968px) {
    .item {
        padding: 4px 0.8em 0 0.8em;
    }

    .active {
        padding: 4px 0.8em 0 0.8em;
    }
}

@media (max-width: 768px) {
    .navBar {
        display: none;
    }

    .navBarSmallWrapper {
        display: flex;
        flex-direction: column;
    }

    .navBarSmall {
        margin: 32px -1em 0 -1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0.85em 5%;
        background-color: rgba(160, 255, 227, 0.13);
        border-top: 1px solid var(--blue);
        border-bottom: 1px solid var(--blue);
        position: relative;
    }

    .smallNavButtonOutline {
        border: 1px solid var(--blue-transparent);
        padding: 1px;
        margin-right: 2em;
    }

    .smallNavButton {
        border: 1px solid var(--blue);
        background-color: var(--blue-transparent);
        width: 2em;
        height: 2em;
    }

    .navBarSmall h1 {
        writing-mode: vertical-lr;
        cursor: pointer;
        color: var(--blue);
        letter-spacing: 0;
        margin-top: 5px;
        margin-left: -2px;
    }

    .logo {
        height: 4em;
        width: 4em;
        top: 0;
    }

    .navList {
        border: 1px solid var(--blue);
        background-color: var(--blue-transparent);
        margin: 0.5em 2em 0 0;
        padding: 0.5em;
        padding-left: 2em;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
    }

    .item {
        background-color: transparent;
    }
}